{erl_opts, [debug_info]}.
{deps, [
  {jsone, "1.9.0"},
  {wade, "0.1.6"}
]}.

{plugins, [
    {rebar3_hex, "7.0.9"}
]}.

{profiles, [
    {test, [{deps, []}]}
]}.

{hex, [
    {description, "A simple and flexible Erlang library for interacting with Ollama API"},
    {licenses, ["Apache-2.0"]},
    {links, [
        {"GitHub", "https://github.com/roquess/ollama_handler"},
        {"Hex.pm", "https://hex.pm/packages/ollama_handler"}
    ]},
    {maintainers, ["Steve Roques<steve.roques@gmail.com>"]},
    {doc, #{provider => edoc}}
]}.

{shell, [
  {apps, [ollama_handler]}
]}.
